#bloque{
    position: relative;
    width: auto; 
    height: auto; 
    margin-top:190px;
    margin-left: 40px;
    margin-bottom: 10px;
    
}
#sub-bloq{
    background: firebrick; 
    width: 100%;
    height: auto;  
    padding: 10px 30px;

}

