body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }
  
  .navegador {
    overflow: hidden;
    background-color: #333; 
  }
  
  .navegador a {
    float: left;
    display: block;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .subNav {
    float: left;
    overflow: hidden;
  }
  
  .subNav .subNavBtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navegador a:hover, .subNav:hover .subNavBtn {
    background-color: red;
  }
  .navegador a.active {
    background-color: rgb(202, 18, 18);
    color: white;
  }
  .navegador .icon {
    display: none;
  }
  /* Responsive del navegador */
@media screen and (max-width: 758px) {
    .navegador a:not(:first-child) {display: none;}
    .navegador a.icon {
      float: left;
      display: block;
    }
    .subNav{
        display: none;
    }
  }
  @media screen and (max-width: 600px) {
    .navegador.responsive {position: relative;}
    .navegador.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .navegador.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }
  
  .subNav_Content {
    display: none;
    position: absolute;
    left: 0;
    background-color: red;
    width: 100%;
    z-index: 1;
  }
  
  .subNav_Content a {
    float: left;
    color: white;
    text-decoration: none;
  }
  
  .subNav_Content a:hover {
    background-color: #eee;
    color: black;
  }
  
  .subNav:hover .subNav_Content {
    display: block;
  }